Flask==3.0.2
PyYAML==6.0.1
python-dateutil==2.9.0.post0
gpuinfo~=1.0.0a7
git+https://github.com/valkjsaaa/bilibili_api.git@a0ed796b1aacca306be5736920c298f4986b1aaa
Quart==0.19.4
srt==3.5.3
chardet==5.2.0
requests==2.31.0
rsa==4.9
toml~=0.10.2
urllib3==2.2.1
pillow==10.2.0